<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <nav>
        <a href="index.html">Beginning</a>
        <a href="MyCourses.html">My Courses</a>
        <a href="registerInCourse.html">Register in a Course</a>
    </nav>

    <main>
        <h1>Timetables</h1>
        <ul>
            <li>M = Morning</li>
            <li>A = Afternoon</li>
            <li>N = Nigth</li>
        </ul>
        <table>
            <tr>
                <td></td>
                <td>Morning</td>
                <td>Afternoon</td>
                <td>Night</td>
            </tr>
            <tr>
                <td>0</td>
                <td>07:45 - 08:30</td>
                <td>13:30 - 14:15</td>
                <td>18:15 - 19:00</td>
            </tr>
            <tr>
                <td>1</td>
                <td>08:30 - 09:15</td>
                <td>14:15 - 15:00</td>
                <td>19:00 - 19:45</td>
            </tr>
            <tr>
                <td>2</td>
                <td>09:15 - 10:00</td>
                <td>15:00 - 15:45</td>
                <td>19:45 - 20:30</td>
            </tr>
            <tr>
                <td>3</td>
                <td>10:15 - 11:00</td>
                <td>16:00 - 16:45</td>
                <td>20:45 - 21:30</td>
            </tr>
            <tr>
                <td>4</td>
                <td>11:00 - 11:45</td>
                <td>16:45 - 17:30</td>
                <td>21:30 - 22:15</td>
            </tr>
            <tr>
                <td>5</td>
                <td>11:45 - 12:30</td>
                <td>17:30 - 18:15</td>
                <td>22:15 - 23:00</td>
            </tr>
            <tr>
                <td>6</td>
                <td>12:30 - 13:15</td>
                <td>18:15 - 19:00</td>
                <td>23:00 - 23:45</td>
            </tr>
        </table>
    </main>
</body>



</html>