<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Courses</title>
</head>

<body>
    <nav>
        <a href="index.html">Beginning</a>
        <a href="MyCourses.html">My Courses</a>
        <a href="registerInCourse.html">Register in a Course</a>
    </nav>

    <h1>Those are your Courses</h1>

    <table>
        <tr>
            <td>Name</td>
            <td>Time</td>
            <td>Teacher</td>
            <td></td>
            <!--This is to show more if its necessary-->
        </tr>
    </table>
</body>

</html>